<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Username" connectionString="huutranapp" providerName="" />
		<add name="Password" connectionString="goodmaster@A1" providerName="" />
		<add name="DataConn" connectionString="Server=192.168.64.2\SQLEXPRESS,1433;Database=Employees;User Id=zzusernamezz;Password=zzpasswordzz;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>